body{
    height: 100vh;
    margin: 0px;
    background-image: url("images/273289.jpg");
    background-size: contain;
    /* background-position: center; */
}

p{
    text-transform:uppercase;
    
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #E32D1F;
    padding: 10px;
    align-items: center;
}

.header-icon{
    height: 40px;
    width: 40px;
}

#titulo-principal{
    font-family: 'Oswald', sans-serif;
}

#buscador-pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 15%;
    justify-content: center;
    padding: 5px;
    /* animation: fade-in 5s ease forwards; */
}
#contenedor-labels{
    margin-bottom: 5px;
}

#pokemon-list-label{
    font-family: 'Oswald', sans-serif;
    
}

#pokemon-list{
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-transform:uppercase;
    background-color: #E32D1F;
    margin-left: 10px;
    height: 30px;
    width: 160px;
    border-radius: 10px;
    cursor:pointer
}

#boton-buscar-pokemon{
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
}


#contenedor-pokedex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

#loading-image{
    height: 300px;
    width: 400px;
    animation: fade-out 3s ease forwards;
}

#textos{
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.texto-principal{
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

.texto-secundario{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
#borde-contenedor{
    border-radius: 20px;
    border: solid #E32D1F 2px;
    width: 50%;
    margin: 5px;
}
#contenedor-imagenes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flechas{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#imagen-pokemon{
    width: 110;
    height: 110px;
}

#stats-principales{
    display: flex;
    justify-content: space-around;
}

.content {
    opacity: 0;
    transition: opacity 600ms ease-in-out; /* Transición de opacidad durante 1 segundo */
}

.hidden {
    display: none;
}

@keyframes fade-in {
    0% { opacity: 0; }
    25% {opacity: 0;}
    100% { opacity: 1; }
}

@keyframes fade-out {
    0% { opacity: 1; }
    25% {opacity: 1;}
    100% { opacity: 0; }
}